<table class="displaytable">
  <tbody>
  <tr>
    <td><h1><%= t('mongoid.models.page') %></h1></td>
    <td align="right"><%= link_to t('shopror.views.page.add'), new_admin_page_path %></td>
  </tr>
  </tbody>
</table>

<table class="formatted">
  <tbody>
  <tr class="header">
    <td width="10%"><%= t('mongoid.attributes.page.code') %></td>
    <td width="30%"><%= t('mongoid.attributes.page.title') %></td>
    <td width="50%"><%= t('mongoid.attributes.page.summary') %></td>
    <td width="5%"><%= t('mongoid.attributes.page.actived') %></td>
    <td width="5%">&nbsp;</td>
  </tr>
  <% @pages.each_with_index do |page, index| %>
  <tr bgcolor="<%= index % 2 == 0 ? '#eeeeee' : '#dddddd' %>">
    <td><%= page.code %></td>
    <td><%= page.title %></td>
    <td><%= page.summary %></td>
    <td><%= page.actived == 1 ? image_tag('admin/tick.gif') : image_tag('admin/tick_empty.gif') %></td>
    <td align="right">
      <%= link_to image_tag('admin/modify.gif'), edit_admin_page_path(page) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>


