<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="section">
      <div class="box inputform">
        <h5><span><%= t('shopror.views.customer.bill_info') %></span></h5>

        <%= f.label :name %>
        <div><%= f.text_field :name %></div><br>

        <%= f.label :company %>
        <div><%= f.text_field :company %></div><br>

        <%= f.label :province %>
        <div><%= f.collection_select(:province, CityArea.roots, :code, :name, prompt: "请选择") %></div><br>

        <%= f.label :city %>
        <div><%= f.collection_select(:city,  CityArea.children(@customer.province), :code, :name, prompt: "请选择") %></div><br>

        <%= f.label :district %>
        <div><%= f.collection_select(:district,  CityArea.children(@customer.city), :code, :name, prompt: "请选择") %></div><br>

        <%= f.label :address %>
        <div><%= f.text_field :address %></div><br>

        <%= f.label :postcode %>
        <div><%= f.text_field :postcode %></div><br>


        <h5><span><%= t('shopror.views.cart.shipping_info') %></span></h5>
        <div class="shippingdetails" id="shippingdetails">
          <%= f.label :ship_name %>
          <div><%= f.text_field :ship_name %></div><br>

          <%= f.label :ship_company %>
          <div><%= f.text_field :ship_company %></div><br>

          <%= f.label :ship_province %>
          <div><%= f.collection_select(:ship_province, CityArea.roots, :code, :name, prompt: "请选择") %></div><br>

          <%= f.label :ship_city %>
          <div><%= f.collection_select(:ship_city, CityArea.children(@customer.ship_province), :code, :name, prompt: "请选择") %></div><br>

          <%= f.label :ship_district %>
          <div><%= f.collection_select(:ship_district, CityArea.children(@customer.ship_city), :code, :name, prompt: "请选择") %></div><br>

          <%= f.label :ship_address %>
          <div><%= f.text_field :ship_address %></div><br>

          <%= f.label :ship_postcode %>
          <div><%= f.text_field :ship_postcode %></div><br>

          <%= f.label :email %>
          <div><%= f.text_field :email %></div><br>

          <%= f.label :telephone %>
          <div><%= f.text_field :telephone %></div><br>

          <%= f.submit class:"submit" %>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    cities_select(['customer_province', 'customer_city', 'customer_district']);
    cities_select(['customer_ship_province', 'customer_ship_city', 'customer_ship_district']);
</script>

