<table class="displaytable">
  <tbody>
  <tr>
    <td><h1><%= t('mongoid.models.customer_group') %></h1></td>
    <td align="right"><a href="/admin/customer_groups/new"><%= t("shopror.views.customer_group.add") %></a></td>
  </tr>
  <tr>
    <td colspan="2">【单击客户组名称会显示该客户组下的所有客户信息】</td>
  </tr>
  </tbody>
</table>

<table class="formatted">
  <tbody>
  <tr>
    <td width="55%">客户组名称</td>
    <td width="25%">折扣 (%)</td>
    <td width="10%" align="right">是否激活?</td>
    <td width="10%" align="right">&nbsp;</td>
  </tr>

  <% @customer_groups.each_with_index do |group, index| %>
      <tr bgcolor="<%= index % 2 == 0 ? '#eeeeee' : '#dddddd' %>">
        <td><%= link_to group.name, admin_customer_path(group) %></td>
        <td><%= group.discount %></td>
        <td class="small">
            <%= link_to image_tag("admin/#{group.actived==1 ? 'tick' : 'tick_empty'}.gif", hspace: '1') %>
        </td>
        <td align="right">
          <%= link_to image_tag('admin/modify.gif', title: "编辑客户组"), edit_admin_customer_group_path(group) %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>

