<div class="row">
  <div class="large-12 columns">
    <header class="header">
      <h2><%= @category.name %></h2>
      <div class="weather-icon-shadow">
        <span class="icon-sun"></span>
      </div>
      <div class="weather-icon">
        <span class="icon-sun"> <%= link_to content_tag(:i, nil, class:'zurb-icon  icon-pencil'), edit_admin_category_path(@category), title:t('shopror.views.category.edit') %></span>
      </div>
    </header>
  </div>
  <div class="large-12 columns">
    <div class="box">
      <div class="box-header bg-transparent">
        <div class="pull-right box-tools">
          <%= link_to content_tag(:i, nil, class:'zurb-icon icon-doc-text-inv'),  new_admin_category_path, title:t('shopror.views.category.add'), class:"box-btn" %>
          <span class="box-btn" data-widget="collapse" href="#"><i class="zurb-icon icon-minus-circled"></i></span>
          <span class="box-btn" data-widget="remove" href="#"><i class="zurb-icon icon-cancel-circled"></i></span>
        </div>
        <h3 class="box-title"><i class="zurb-icon icon-th-list"></i>
          <span><%= t('shopror.views.category.sub_categories') %></span>
        </h3>
      </div>
      <div class="box-body">
        <div class="zurb-list">
          <ul>
            <% @category.children.each_with_index do |category, index| %>
                <li>
                  <img alt="" class="img-circle star" src="http://api.randomuser.me/portraits/thumb/men/22.jpg">
                  <b><%= link_to category.name, admin_category_path(category) %></b><i class="icon-attachment"></i><i class="text-orange fontello-record"></i>
                  <small><%= link_to content_tag(:i, nil, class:'zurb-icon  icon-pencil'), edit_admin_category_path(category), title:t('shopror.views.category.edit') %></small>
                  <h5></h5>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="box-header bg-transparent">
        <div class="pull-right box-tools">
          <%= link_to content_tag(:i, nil, class:'zurb-icon icon-doc-text-inv'), new_admin_category_product_path(@category), title:t('shopror.views.product.add') %>
          <span class="box-btn" data-widget="collapse"><i class="zurb-icon icon-minus-circled"></i></span>
          <span class="box-btn" data-widget="remove"><i class="zurb-icon icon-cancel-circled"></i></span>
        </div>
        <h3 class="box-title"><i class="zurb-icon icon-th-1"></i>
          <span><%= t("shopror.views.product.products") %></span>
        </h3>
      </div>
      <div class="box-body">
        <div class="zurb-list">
          <hr>
          <ul>
            <% @category.products.each do |product| %>
                <li>
                  <img alt="" class="img-circle star" src="http://api.randomuser.me/portraits/thumb/men/22.jpg">
                  <b><%= product.name %></b><i class="icon-attachment"></i><i class="text-orange fontello-record"></i>
                  <small>
                    <%= link_to content_tag(:i, nil, class:'zurb-icon icon-cog-alt'), "#" %>
                    <%= link_to content_tag(:i, nil, class:'zurb-icon  icon-doc-text-inv-1'), "#" %>
                    <%= link_to content_tag(:i, nil, class:'zurb-icon icon-eye'), "#" %>
                    <%= link_to content_tag(:i, nil, class:'zurb-icon icon-th'), "#" %>
                    <%= link_to content_tag(:i, nil, class:'zurb-icon icon-pencil'), edit_admin_product_path(product), title:t('shopror.views.product.edit') %>
                  </small>
                  <h5></h5>
                  <p><%= render :partial => "/admin/variants/list", :locals => {:product => product}  %></p>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

