<table class="displaytable">
  <tbody>
  <tr>
    <td><h1><%=t('shopror.views.supplier.list') %></h1></td>
    <td align="right"><%= link_to t('shopror.views.supplier.add'), new_admin_supplier_path %></td>
  </tr>

  <tr>
    <td colspan="2">
      <table class="formatted">
        <tbody>
        <tr class="header">
          <td width="85%"><%=t('shopror.views.supplier.supplier') %></td>
          <td width="10%"><%=t("mongoid.models.supplier.actived") %>?</td>
          <td width="5%">&nbsp;</td>
        </tr>
        <% @suppliers.each_with_index do |supplier, index| %>
            <tr bgcolor="<%= index % 2 == 0 ? '#eeeeee' : '#dddddd' %>">
              <td><%= supplier.name %></td>
              <td class="small">
                <%= link_to image_tag("admin/#{supplier.actived==1 ? 'tick' : 'tick_empty'}.gif", hspace: '1') %>
              </td>
              <td align="right">
                <%= link_to image_tag('admin/modify.gif', title: t('shopror.views.supplier.edit')), edit_admin_supplier_path(supplier) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
