<h1><%= @product.name %></h1>
<div class="product">
  <div class="pad">
    <div class="main">
      <table class="displaytable">
        <tr>
          <td class="textcell">
            <em class="strapline"><%= @product.strapline %></em>

            <p><%= @product.summary.try(:html_safe) %></p>

            <div class="extrainfolinks">
              <div class="compare"></div>
            </div>
          </td>
          <td class="imagecell">
            <% if @product.img? %>
                <div class="imageholder" style="width:200px;height:230px">
                  <div class="thumbnail">
                    <!--+ content_tag(:a, t("shopror.views.product.large_view"), class: "imagelegend",rel:"lightbox")-->
                    <%= link_to image_tag(@product.img_url(:thumb), height: 200, width: 200, alt: @product.name) + content_tag(:br)+ content_tag(:a, t("shopror.views.product.large_view"), href: @product.img_url, class: "imagelegend", rel: "lightbox"), @product.img_url, class: "productImages", rel: "lightbox" %>

                  </div>
                </div>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <% unless @product.variants.blank? %>
        <div class="variants">
          <div class="variantstable">
            <table summary="Table of variants for this product.">
              <colgroup class="col_name"></colgroup>
              <colgroup class="col_info" span="1"></colgroup>
              <colgroup class="col_price" span="1"></colgroup>
              <colgroup class="col_addtobasket"></colgroup>
              <thead>
              <tr class="header">
                <th class="name"></th>
                <th class="RRP"><%= t("mongoid.attributes.variant.weight") %></th>
                <th class="price" colspan="2"><%= t("mongoid.attributes.variant.price") %></th>
                <th class="addtobasket"></th>
              </tr>
              </thead>
              <tbody>
              <% @product.variants.each do |variant| %>
                  <tr class="alt">
                    <td class="name"><strong><%= variant.name %></strong><span><%= variant.sku %></span></td>
                    <td class="rrp"><%= variant.weight %></td>
                    <td class="price" colspan="2"><%= variant.price %></td>
                    <td class="addtobasket">
                      <%= form_for([session_cart, @cart_item]) do |f| %>
                          <div>
                            <%= f.hidden_field :product_id, :value => @product.id %>
                            <%= f.hidden_field :sku, :value => variant.sku %>
                            <%= f.hidden_field :name, :value => variant.name %>
                            <%= f.hidden_field :weight, :value => variant.weight %>
                            <%= f.hidden_field :price, :value => variant.price %>
                            <%= f.select :qty, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
                            <%= f.submit t("shopror.views.cart.buy"), class: "submit" %>
                          </div>
                      <% end %>
                    </td>
                  </tr>
                  <% if variant.img? %>
                      <tr class="alt">
                        <td colspan="5" class="imagecell">
                          <div class="imageholder" style="width:50px;height:50px">
                            <%= link_to image_tag(variant.img_url(:thumb), height: 50, width: 50), variant.img_url, class: "productImages", rel: "lightbox" %>
                          </div>
                        </td>
                      </tr>
                  <% end %>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
    <% end %>
    <ul class="tabs">
      <li id="tab1_link" class="active" ><a href="#">描述</a></li>
      <li id="tab2_link" class=""><a href="#"><%= t('mongoid.attributes.product.spec') %></a></li>
      <li id="tab3_link" class="" style="display: none;"><a href="#">Quantity Discounts</a></li>
      <li id="tab4_link" class="" ><a href="#">评论</a></li>
    </ul>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <p><%= @product.desc.html_safe %></p>
      </div>
      <div id="tab2" class="tab_content" style="display: none;">
        <pre><%= @product.spec %></pre>
      </div>

      <div id="tab4" class="tab_content" style="display: none;">
        <div class="reviews">
          <div class="pad">

            <div class="review" id="review_1">
              <div class="box pad">
                <strong>Test Review</strong>
                <div class="stars"><%= image_tag('skin/reviewyes.gif')%><%= image_tag('skin/reviewyes.gif')%><%= image_tag('skin/reviewyes.gif')%></div>
                <div class="reviewer">Reviewed by Test Person Name from Location</div>
                <blockquote><p>Customers can submit reviews, if the feature is enabled for this product. You can control from the config settings whether reviews need to be approved before going live, and you can remove malicious or fake reviews.</p></blockquote>
                <div class="date">February 2012</div>

                <div class="spacer"></div>
              </div></div>
            <div class="writeyourown"><strong><a href="/v7/review.P_ID=415">Write your own review!</a></strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $('#tab1_link,#tab2_link,#tab3_link,#tab4_link').click(function(event) {
        event.preventDefault();
        $('#tab1,#tab2,#tab3,#tab4').hide();
        $("#tab1_link,#tab2_link,#tab3_link,#tab4_link").removeClass("active"); //Remove any "active" class
        $(this).addClass("active"); //Add "active" class to selected tab
        $('#'+this.id.slice(0,4)).show();


    });



</script>